name: Build Deb File And PyPI

on:
  push:
    tags:
    - 'v*'

jobs:
  build-pypi:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    - name: Install build
      run: python3 -m pip install --user build
    - name: Build
      run: python3 -m build
    - name: Publish distribution to PyPI
      if: startsWith(github.event.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1

  build-debs-2404:
    if: startsWith(github.ref, 'refs/tags/v0.4')
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Install system dependencies
      run: sudo apt-get install ruby ruby-rubygems
    - name: Install FPM
      run: gem install --user-install --no-document fpm -v 1.17.0
    - name: Build debs
      run: make -f Makefile.2404 FPM=$HOME/.local/share/gem/ruby/3.2.0/bin/fpm clean deb
    - name: MD5SUM debs
      run: md5sum *.deb > MD5SUM
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "*.deb"
        bodyFile: "MD5SUM"
        token: ${{ secrets.GITHUB_TOKEN }}

  build-debs-2204:
    if: startsWith(github.ref, 'refs/tags/v0.3')
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Install system dependencies
      run: sudo apt-get install ruby ruby-rubygems
    - name: Install FPM
      run: gem install --user-install --no-document fpm -v 1.15.1
    - name: Build debs
      run: make -f Makefile.2204 FPM=$HOME/.local/share/gem/ruby/3.0.0/bin/fpm clean deb
    - name: MD5SUM debs
      run: md5sum *.deb > MD5SUM
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "*.deb"
        bodyFile: "MD5SUM"
        token: ${{ secrets.GITHUB_TOKEN }}
